div.well {
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.borderless td,
.borderless th {
  border: none;
}



.borderless_form[type=text] {
  border: none;
  background-color: #28a745;
  outline: 0;
  width: auto;
  height: 30px;
  color: white;
}

.borderless_form[type=text]:focus {
  border: none;
  background-color: #28a145;
  outline: 0;
  width: auto;
  height: 30px;
  color: white;
}